/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
*
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body
{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    background: radial-gradient(#F5F5F0, #F3F3F2, white);
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */
.app
{
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px)
{
    .app
    {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1
{
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    margin-right: 100px;
    text-align: center;
    vertical-align: center;
    color: #4C0000;
}

.event
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening
{
    background-color: #333333;
    display: block;
}

.event.received
{
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
 
.blink
{
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#main
{
    margin-top: 5%;
    margin-left: 10%;
}

.capital_box
{
    float: left;
    width: 300px;
    height: 300px;
}

.Picture
{
    width: 220px;
    height: 220px;
    background-color: #BABABA;
    line-height: 220px;
    text-align: center;
}

.thumbNav
{
    width: 140px;
    padding-left: 10px;
    margin-left: 40px;
}

.thumb_title
{
    font-size: 1.5em;
    color: #991F00;
}

.icons, .icons_del, .icons_takeBrowseParis, .icons_takeBrowseLondon, .icons_takeBrowseMadrid, .icons_takeBrowseBerlin, .icons_takeBrowseVienna, .icons_takeBrowseSofia
{
    float: left;
    padding: 10px;
}

img
{
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

#background
{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000; 
    z-index: 1;
}

#large
{
    display: none;
    position: absolute; 
    background: #FFFFFF; 
    padding: 2px;
    z-index: 10;
    color: #336699;
}

.notification, .notificationDel
{
    width: 200px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#close
{
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -20px;
    right: -25px;
}